body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

form {
    width: 50%;
    margin: 50px auto;
}

fieldset {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px; 
}

legend {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.input-group {
    margin-bottom: 15px;
    
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input, 
.input-group select {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group span {
    color: red;
}

input[type="checkbox"] {
    margin-bottom: 13px;
    width: auto;
}

.terminos {
    display: flex;
}